$headerBackgroundImage: url('../img/m-h-night.jpg');
$buttonColor: #FFD700;
$pageBackgroundColor: #21232E;
$textBackgroundColor: #ff4e33;
$logoFontFamily: 'Source Sans Pro', sans-serif;
$titleFont: 'Hind', sans-serif;
$linkColor: #FFFFFF;
$cardBackgroundColor: #3b3f50;
$gradient: linear-gradient(to right, #DEA505 0%, #963150 100%);
$footerBgColor: #3b3f50;
$fontFamily: 'Fresca', sans-serif;
$colorWhite: #FFFFFF;
$titleColor: #FFFFFF;
$font-weights: ("light-header": 600, "bold-header":700);