$headerBackgroundImage: url('../img/m-h-day.jpg');
$buttonColor: #32CD32;
$pageBackgroundColor: #FFFFFF;
$textBackgroundColor: #1E90FF;
$logofontFamily: 'Source Sans Pro', sans-serif;
$titleFont: 'Hind', sans-serif;
$linkColor: #FFFFFF;
$cardBackgroundColor: #2c2f3c;
$gradient: linear-gradient(to right, #679708 0%, #315fcc 100%);
$footerBgColor: #21232e;
$colorWhite: #FFFFFF;
$titleColor: #000000;
$font-weights: ("light-header": 600, "bold-header":700);
$fontFamily: 'Hind', sans-serif;